In [3]:
!pip install mlxtend
import pandas as pd 
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\lenovo\python\lib\site-packages (0.21.0)
Requirement already satisfied: setuptools in c:\users\lenovo\python\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\python\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\python\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\python\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: mlxtend in c:\users\lenovo\python\lib\site-packages (0.21.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: setuptools in c:\users\lenovo\python\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\python\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\python\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\python\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\python\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [5]:
movies = pd.read_csv('my_movies.csv')
movies

              V1             V2             V3          V4     V5  ...  LOTR2  Harry Potter2  LOTR  Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  Green Mile  LOTR2  ...      1              0     0           0           1
1      Gladiator        Patriot     Braveheart         NaN    NaN  ...      0              0     0           1           0
2          LOTR1          LOTR2            NaN         NaN    NaN  ...      1              0     0           0           0
3      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
4      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
5      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
6  Harry Potter1  Harry Potter2            NaN         NaN    NaN  ...      0              1     0           0           0
7      Gladiator        Patriot            NaN         NaN    NaN  ...      0              0     0           0           0
8      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
9    Sixth Sense           LOTR      Gladiator  Green Mile    NaN  ...      0              0     1           0           1

[10 rows x 15 columns]

# Pre-processing

In [6]:
df = pd.get_dummies(movies)
df

   Sixth Sense  Gladiator  LOTR1  Harry Potter1  ...  V3_Harry Potter1  V3_Sixth Sense  V4_Green Mile  V5_LOTR2
0            1          0      1              1  ...                 1               0              1         1
1            0          1      0              0  ...                 0               0              0         0
2            0          0      1              0  ...                 0               0              0         0
3            1          1      0              0  ...                 0               1              0         0
4            1          1      0              0  ...                 0               1              0         0
5            1          1      0              0  ...                 0               1              0         0
6            0          0      0              1  ...                 0               0              0         0
7            0          1      0              0  ...                 0               0              0         0
8            1          1      0              0  ...                 0               1              0         0
9            1          1      0              0  ...                 0               0              1         0

[10 rows x 25 columns]

# Apriori Algorithm

In [7]:
frequent_itemsets = apriori(df,min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...
1393      0.1  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...
1394      0.1  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...
1395      0.1  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...
1396      0.1  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...

[1397 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric = "lift", min_threshold=0.7)
rules

              antecedents                                        consequents  ...  leverage  conviction
0           (Sixth Sense)                                        (Gladiator)  ...      0.08        1.80
1             (Gladiator)                                      (Sixth Sense)  ...      0.08        1.40
2           (Sixth Sense)                                            (LOTR1)  ...     -0.02        0.96
3                 (LOTR1)                                      (Sixth Sense)  ...     -0.02        0.80
4           (Sixth Sense)                                    (Harry Potter1)  ...     -0.02        0.96
...                   ...                                                ...  ...       ...         ...
64247             (LOTR2)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.08        1.80
64248     (Harry Potter1)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.08        1.80
64249             (LOTR1)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.08        1.80
64250       (Sixth Sense)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.04        1.08
64251  (V3_Harry Potter1)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.09         inf

[64252 rows x 9 columns]

In [10]:
# A high conviction value means that the consequent is highly depending on the antecedent and range[0 inf]

In [11]:
rules.sort_values('lift',ascending = False)[0:20]

                                             antecedents  ... conviction
32126    (Sixth Sense, LOTR1, Green Mile, Harry Potter1)  ...        inf
42207               (V5_LOTR2, Green Mile, LOTR1, LOTR2)  ...        inf
42195  (V5_LOTR2, Green Mile, V1_Sixth Sense, Harry P...  ...        inf
42196      (V5_LOTR2, Green Mile, V1_Sixth Sense, LOTR1)  ...        inf
42197  (Green Mile, V1_Sixth Sense, Harry Potter1, LO...  ...        inf
42198         (Green Mile, V1_Sixth Sense, LOTR1, LOTR2)  ...        inf
42199  (LOTR1, Green Mile, V1_Sixth Sense, Harry Pott...  ...        inf
42200            (V5_LOTR2, Green Mile, V2_LOTR1, LOTR2)  ...        inf
42201    (V5_LOTR2, Green Mile, V2_LOTR1, Harry Potter1)  ...        inf
42202            (V5_LOTR2, Green Mile, V2_LOTR1, LOTR1)  ...        inf
42203       (Green Mile, V2_LOTR1, Harry Potter1, LOTR2)  ...        inf
42204               (Green Mile, V2_LOTR1, LOTR1, LOTR2)  ...        inf
42205       (LOTR1, Green Mile, V2_LOTR1, Harry Potter1)  ...        inf
42206       (V5_LOTR2, Green Mile, Harry Potter1, LOTR2)  ...        inf
42208       (V5_LOTR2, LOTR1, Green Mile, Harry Potter1)  ...        inf
42222         (V5_LOTR2, LOTR1, V2_LOTR1, Harry Potter1)  ...        inf
42209          (LOTR1, Green Mile, Harry Potter1, LOTR2)  ...        inf
42210        (V5_LOTR2, LOTR2, V1_Sixth Sense, V2_LOTR1)  ...        inf
42211  (V5_LOTR2, V1_Sixth Sense, V2_LOTR1, Harry Pot...  ...        inf
42212        (V5_LOTR2, LOTR1, V1_Sixth Sense, V2_LOTR1)  ...        inf

[20 rows x 9 columns]

In [12]:
rules[rules.lift>1]

              antecedents                                        consequents  ...  leverage  conviction
0           (Sixth Sense)                                        (Gladiator)  ...      0.08        1.80
1             (Gladiator)                                      (Sixth Sense)  ...      0.08        1.40
6           (Sixth Sense)                                          (Patriot)  ...      0.04        1.20
7               (Patriot)                                      (Sixth Sense)  ...      0.04        1.20
10          (Sixth Sense)                                             (LOTR)  ...      0.04        1.08
...                   ...                                                ...  ...       ...         ...
64247             (LOTR2)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.08        1.80
64248     (Harry Potter1)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.08        1.80
64249             (LOTR1)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.08        1.80
64250       (Sixth Sense)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.04        1.08
64251  (V3_Harry Potter1)  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...  ...      0.09         inf

[64202 rows x 9 columns]